/.venv
/football_env
/~
/yolov8x.pt
/training/football-players-detection-1
/extra
/models

# Large model files
*.pt
*.pth
*.onnx
*.weights

# Large video files
*.avi
*.mp4
*.mov

# Training outputs (runs folder)
/runs